<div class="characters">
    <character [name]="'Villager'" (characterSelected)="onSelectedCharacter($event)"></character>
    <character [name]="'Isabelle'" (characterSelected)="onSelectedCharacter($event)"></character>
    <character [name]="'Ness'" (characterSelected)="onSelectedCharacter($event)"></character>
    <character [name]="'Lucas'" (characterSelected)="onSelectedCharacter($event)"></character>
    <character [name]="'Ganondorf'" (characterSelected)="onSelectedCharacter($event)"></character>
</div>
